body{
    background-color: rgb(201, 209, 252);
}
.pano{
    padding-top: 2%;
}
.nav-item{
    font-size: larger;
    font-weight: bolder;
}
.nav-link.active{
    color: aliceblue;
}
.nav-tabs .nav-link {
    color: #007bff;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #007bff;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
@media (min-width: 992px) {
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
img
{
    padding-top: 5%;
    background-color: rgb(201, 209, 252);
}